<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <blockquote class="blockquote text-center">
        <div class="p-3 mb-2 bg-success text-white"> <h1 class="display-3">ReviewTunez</h1> </div>
    </blockquote>
</head>
<body>
    {% if user.is_authenticated %}
    <p class="text-center">Hello, {{ user.username }}. Welcome to ReviewTunez!</p>
    <p class="text-center"><a href="/logout">Logout</a></p>
    <p class="text-center"><a href="/search">Search for Music</a></p>
    <p class="text-center"><a href="/list_reviews">My Reviews</a></p>
    <p class="text-center"><a href="/recommendations">Song Recommendations</a></p>
    <p class="text-center"><a href="/new_releases">New Album Releases</a></p>
    <p class="text-center"><a href="/searchvideo">Search for a Music Video</a></p>
    {% else %}
    <p class="text-center">Glad you found ReviewTunez! To write reviews and get the best out of ReviewTunez, please log in or register.</p>
    <p class="text-center">To use streaming features on this site, use Google Chrome or Firefox and download <a href="https://www.spotify.com/us/" target="_blank">Spotify</a> on your device if you have not done so already. (Not mandatory, but highly recommended for the best ReviewTunez experience.)</p>
    <p class="text-center"><a href="/login">Login</a></p>
    <p class="text-center"><a href="/register">Register</a></p>
    <p class="text-center">or</p>
    <p class="text-center"><a href="/search">Search for Music</a></p>
    {% endif %}
</body>
</html>