<!DOCTYPE html>
<html>
<head>
	<title>{{artist_pg.name}}</title>
	<style>
			img {
				max-width:100%;
			}
		</style>
	</head>
	<body>
		<p><a href="/search/">New Search</a></p>
		<img src="{{artist_pg.image}}" width = 300/>
		<h2>{{artist_pg.name}}</h2>
		{% if artist_pg.genres %}
		<h3>Genres: </h3>
		<p>{{artist_pg.genres}}</p>
		{% endif %}
		<h3>Popularity: </h3>
		<p>{{artist_pg.popularity}}/100.0</p>
		{% if albumData != 'nothin' %}
		<h3>Albums: </h3>
		{% for r in albumData %}
		<p><a href="/album/{{r.albumId}}">{{r.title}}</a></p>
		{% endfor %}
		{% endif %}
		{% if songData != 'nothin' %}
		<h3>Top songs: </h3>
		{% for m in songData %}
		<p><a href="/song/{{m.songId}}">{{m.title}}</a></p>
		{% endfor %}
		<iframe src="https://open.spotify.com/embed?uri={{artist_pg.uri}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		{% endif %}
		<!--<p>{{tracks|join:"<br/>"}}</p> -->
		<p>In order to access this artist on Spotify, <a href="https://www.spotify.com/us/signup/" target="_blank">create a Spotify account</a> if you have not done so already.</p>
		<p><a href="{{artist_pg.external}}" target="_blank">Open on Spotify browser</a></p>
		<p><a href="{{artist_pg.uri}}" target="_blank">Open on Spotify</a></p>
		<h3>Current rating: </h3>
		{% if average.rating__avg == 'None' %}
							<p>No average ratings yet</p>
							{% else %}
							<p>{{average.rating__avg}}/10.0</p>
							{% endif %}
		<p>Write a review, {{theUser.username}}.</p>
		<form name="some" method = "GET" action="/artist/{{artist_pg.artistId}}">
		<input class="form-control" type="text" name="review" value="Type review here">
		<input class="form-control" type="text" name="number" value="number between 0-10">
		<input type="submit" value="submit" class="btn btn-primary" name = "reviewed">
		<p></p>
		</form>
		<h4>Reviews: </h4>
							{% if allReviews == 'nope' %}
							<p>No reviews yet.</p>
							{% else %}
							{% for g in allReviews %}
							<p>{{g.time}} (UTC)</p>
							<p>{{g.user}}: {{g.comment}}</p>
							<p>Rating: {{g.rating}}</p>
							{% endfor %}
							{% endif %}
	</body>
</html>