<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<title>{{artist_pg.name}}</title>
	<style>
			img {
				max-width:100%;
			}
			h5 {
				color:#4d9900;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
				<div class="row justify-content-start">
					<div class = "col-4">
						<p><a class = "text-info" href="/search/"> <p> New Search </p></a></p>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="media">
					<div class="media-left">
						<a href="#">
		<img src="{{artist_pg.image}}" width = 300/>
		<p></p>
						</a>
					</div>
		<div class="media-body">
						<div class="col col-md-auto">
		<h2 class="media-heading">{{artist_pg.name}}</h2>
		{% if artist_pg.genres %}
		<h5>Genres: </h5>
		<p>{{artist_pg.genres}}</p>
		{% endif %}
		<h5>Popularity: </h5>
		<p>{{artist_pg.popularity}}/100.0</p>
		{% if albumData != 'nothin' %}
		<h5>Albums: </h5>
		<p>(If there are duplicate titles of an album, one is an explicit version and the other is a clean version.)</p>
		{% for r in albumData %}
		<p><a href="/album/{{r.albumId}}">{{r.title}}</a></p>
		{% endfor %}
		{% endif %}
		{% if songData != 'nothin' %}
		<h5>Top songs: </h5>
		{% for m in songData %}
		<p><a href="/song/{{m.songId}}">{{m.title}}</a></p>
		{% endfor %}
		<iframe src="https://open.spotify.com/embed?uri={{artist_pg.uri}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		{% endif %}
		<p>In order to access this artist on Spotify, <a href="https://www.spotify.com/us/signup/" target="_blank">create a Spotify account</a> or <a href="https://accounts.spotify.com/en-US/login?continue=https:%2F%2Fwww.spotify.com%2Fus%2Faccount%2Foverview%2F" target="_blank">log in to your Spotify</a> if you have not done so already.</p>
		<h5>Current rating: </h5>
		{% if average.rating__avg == 'None' %}
							<p>No average ratings yet</p>
							{% else %}
							<p>{{average.rating__avg}}/10.0</p>
							{% endif %}
		<p>Write a review, {{theUser.username}}.</p>
		<form name="some" method = "GET" action="/artist/{{artist_pg.artistId}}">
		<input class="form-control" type="text" name="review" value="Type review here">
		<input class="form-control" type="text" name="number" value="number between 0-10">
		<input type="submit" value="submit" class="btn btn-primary" name = "reviewed">
		<p></p>
		</form>
		<h5>Reviews: </h5>
							{% if allReviews == 'nope' %}
							<p>No reviews yet.</p>
							{% else %}
							{% for g in allReviews %}
							<p>{{g.time}} (UTC)</p>
							<p>{{g.user}}: {{g.comment}}</p>
							<p>Rating: {{g.rating}}/10.0</p>
							{% endfor %}
							{% endif %}
							<p><a href="/list_reviews/">My Reviews</a></p>
							</div>
					</div>

				</div>
			</div>
	</body>
</html>