<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<style>
	input.btn{
		background-color:#66cc00;
	}
</style>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

		<blockquote class="blockquote text-center">
			<div class="p-3 mb-2 bg-success text-white"> <h4 class="display-4">Search for Music</h4> </div>
		</blockquote>
	<title>Search</title>

</head>
<body>
	<div class="container-fluid">
				<div class="row justify-content-start">
					<div class = "col-4">
						<p><a class = "text-success" href="/"> <h4> Back to Home </h4></a></p>
					</div>
				</div>
			</div>
	<nav class="navbar navbar-light bg-faded">
	<form name="some" method = "GET" action="/search">
		<p>Enter a song, album, or artist to search for below: </p>
		<input class="form-control" type="text" name="q" value="{{ request.GET.q }}">
		<input type="submit" value="Song" class="btn btn-primary" name = "r">
		<input class="btn btn-primary" type="submit" value="Album" name="p">
		<input class="btn btn-primary" type="submit" value="Artist" name="n">
	{% if search == True %}
	<p></p>
	{% if 'r' in request.GET or 'j' in request.GET %}
	<input class = "btn btn-primary" type="submit" value="Sort by Popularity" name="j">
	{% elif 'p' in request.GET or 'yo' in request.GET %}
	<input class = "btn btn-primary" type="submit" value="Sort by Popularity" name="yo">
	{% elif 'n' in request.GET or 'b' in request.GET %}
	<input class = "btn btn-primary" type="submit" value="Sort by Popularity" name="b">
	{% endif %}
	</form>
</nav>
{% if musicData == "there is an error" %}
{% if 'r' in request.GET or 'j' in request.GET %}
<h3>No song results to display for "{{request.GET.q}}"</h3>

{% elif 'p' in request.GET or 'yo' in request.GET %}
<h3>No album results to display for "{{request.GET.q}}"</h3>
{% elif 'n' in request.GET or 'b' in request.GET %}
<h3>No artist results to display for "{{request.GET.q}}"</h3>
{% endif %}
{% elif musicData == "there is a song error" %}
			<h3>No song results to display for "{{request.GET.q}}"</h3>
{% elif musicData == "there is a album error" %}
		<h3>No album results to display for "{{request.GET.q}}"</h3>
{% elif musicData == "there is a artist error" %}
<h3>No artist results to display for "{{request.GET.q}}"</h3>
{% else %}
	{% for m in musicData %}
	{% if 'r' in request.GET or 'j' in request.GET %}
	<div class="container-fluid">
				<div class="media">
					<div class="media-left">
						<a href="#">
	<img src="{{m.image}}" class="rounded" width=100/>
	<p></p>
						</a>
					</div>
					<div class="media-body">
						<div class="col col-md-auto">
	<h3><a href="/song/{{m.songId}}" name = "clicked">{{m.title}}</a></h3>
	<p>{{m.artists}}</p>
	</div>
					</div>
				</div>
			</div>
	{% elif 'p' in request.GET or 'yo' in request.GET %}
	<div class="container-fluid">
				<div class="media">
					<div class="media-left">
						<a href="#">
	<img src="{{m.image}}" class="rounded" width=100/>
	<p></p>
						</a>
					</div>
					<div class="media-body">
						<div class="col col-md-auto"> 
	<h3><a href="/album/{{m.albumId}}" name = "clicked">{{m.title}}</a></h3>
	<p>{{m.artists}}</p>
	</div>
					</div>
				</div>
			</div>
	{% elif 'n' in request.GET  or 'b' in request.GET %}
	<div class="container-fluid">
				<div class="media">
					<div class="media-left">
						<a href="#">
	<img src="{{m.image}}" class="rounded" width=100/>
	<p></p>
						</a>
					</div>
					<div class="media-body">
						<div class="col col-md-auto"> 
	<h3><a href="/artist/{{m.artistId}}" name = "clicked">{{m.name}}</a></h3>
	</div>
					</div>
				</div>
			</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endif %}
</body>
</html>