<!DOCTYPE html>
<html>
<head>
	<title>{{song_pg.title}}</title>
	<style>
			img {
				max-width:100%;
			}
		</style>
	</head>
	<body>
		<img src="{{song_pg.image}}" width = 300/>
		<h2>{{song_pg.title}}</h2>
		<p>{{song_pg.theType}}</p>
		<h3>Artists: </h3>
		<p>{{song_pg.artists}}</p>
		<h3>Album: </h3>
		<p><a href="/album/{{album_pg.albumId}}">{{album_pg.title}}</a></p>
		<h3>Popularity Score: </h3>
		<p>{{song_pg.popularity}}/100.0</p>
		{% if song_pg.preview %}
		<h3>Preview: </h3>
		<audio controls>
			<source src="{{song_pg.preview}}.mp3" type="audio/mp3" autoplay="False">
		</audio>
		{% endif %}
		<p>In order to access the song on Spotify, <a href="https://www.spotify.com/us/signup/" target="_blank">create a Spotify account</a> if you have not done so already.</p>
		<p><a href="{{song_pg.external}}" target="_blank">Open on Spotify browser</a></p>
		<p><a href="{{song_pg.uri}}" target="_blank">Open on Spotify</a></p>
		<iframe src="https://open.spotify.com/embed?uri=spotify:track:{{song_pg.songId}}" frameborder="0" allowtransparency="true"></iframe>

	</body>
</html>